* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

.Nav-div {
    background-color: black;
    padding: 100px;
    text-decoration: none;
}

.Nav-pan {}

.demo {
    padding: 200px;
    background-color: black;
    color: white;
}
